* {
  padding: 0;
  margin: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  width: 50vw;
  height: 50vh;
  min-width: 300px;
  max-width: 500px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
}

body {
  font-family: 'Balsamiq Sans', cursive;
  font-weight: normal;
  font-style: normal;
}

button {
  padding: 15px;
  background-color: #e0e0e0;
  border: 0.5px solid #d6d6d6;
  font-size: 15px;
}

.btn-input {
  grid-column: 1/5;
  text-align: end;
  background-color: #858693;
  color: white;
}

.btn-0 {
  grid-column: 1/3;
}

.color {
  background-color: #f5913e;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100vw;
  background-color: #f5913e;
}

.nav div {
  margin-inline: 2em;
  padding: 10px;
}

.nav ul {
  list-style: none;
  display: flex;
}

.nav li {
  padding-inline: 1em;
}

.home, .calculator {
  border-right: 2px solid black;
}

.nav a {
  text-decoration: none;
  color: black;
}

.nav a:hover {
  color: blue;
}

.home-page h1 {
  margin: 2em auto 2em 1em;
}

.home-page p {
  margin-left: 2em;
  margin-bottom: 1em;
}

.footer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100vw;
  background-color: #f5913e;
  padding: 10px;
}

.footer p {
  padding-inline: 2em;
}
